@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}

@theme {
    --font-exo2: var(--font-exo2);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-rtgray-50: #F9FAFB;
    --color-rtgray-100: #F3F4F6;  
    --color-rtgray-200: #E6E6EA;
    --color-rtgray-300: #D3D4D9;
    --color-rtgray-400: #9EA1AD;
    --color-rtgray-500: #6D707E;
    --color-rtgray-600: #4D5261;
    --color-rtgray-700: #3A3F4E;
    --color-rtgray-800: #222634;
    --color-rtgray-900: #141624;
    --color-rtgray-1000: #080912;
    --color-rtyellow-200: #FCD913;
    --color-rtyellow-300: #E6C812;
    --color-rtorange-200: #F2BE03;
    --color-rtorange-300: #D9A003;
    --color-rtbrown-800: #301E03;
    --color-rtwhite: #FFFFFF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* make image render smoother */
img {
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

/* Hide arrows for number inputs in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wave-bg {
  clip-path: polygon(0 0, 25% 20%, 50% 10%, 75% 30%, 100% 0, 100% 70%, 0 100%);
}

/* More complex wave using bezier curves */
.wave-bg-complex {
  clip-path: path('M0 0 C 50 50, 150 50, 200 0 L 200 100 L 0 100 Z'); /* Example - needs adjustment */
  /* You can get more complex path data from online generators */
}
